<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Test EnableCors attribute</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Index.js")
    @RenderSection("scripts", required: false)
</body>
</html>
